@page "/"

<PageTitle>Home | Pupper Upper</PageTitle>

<h1>Welcome to Pupper Upper!</h1>

<p>Using the menu to the left, you can:</p>

<ul>
    <li>See how your dog's weight has changed over time</li>
    <li>View your scale's current baseline measurement and when it took effect</li>
    <li>Add and remove your current scale by serial number</li>
</ul>

<p>You can also manage your account at the top left of the page.</p>
<p>If you have any questions or suggestions, please reach out to <a href="mailto:matt.volpe2000@gmail.com">matt.volpe2000@gmail.com</a></p>